
services:
  api:
    #  <-- COMMENT build THIS OUT (Don't build from source)
    build: . 
    # image: testgeek1592021/devops-ts-backend:latest # <-- ADD THIS (Download from Cloud)
    ports:
      - "3000:3000"
    environment:
      - PORT=3000 # Application Port
      - DB_HOST=db  # This tells the code: "The DB is at hostname 'db'"
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=secret
      - POSTGRES_DB=myapp
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: