name: CI/CD Pipeline

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-deploy:
    name: Build, Test & Push
    runs-on: ubuntu-latest

    steps:
      # 1. Get the code
      - name: Checkout Code
        uses: actions/checkout@v3

      # 2. Install Node & Test TypeScript
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Compile TypeScript (Check for Errors)
        run: npm run build

      # 3. Log in to Docker Hub (The "Vault" opens here)
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 4. Build and Push the Image
      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # This creates: shiv123736/devops-ts-backend:latest
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/devops-ts-backend:latest